*{
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: 18.969px;
    margin-right: 18.979px;
}

.flex{
    display: flex;
    align-items: center;
}


.column{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.header-logo{
    width:150px
}

.profile-button {
    padding: 6px 10px;
    width:100px;
    height:40px;
    padding:0;
    padding-right:10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile-button:hover, .profile-button:focus {
    background-color: #e4e4e4;
}

.dropdown-btn-container{
    position: relative;
    display: inline-block;
    
}

.dropdown-content{
    display: none; 
    position:absolute;
    left:-30px;
    background-color: #fff;
    color:#333333;
    padding:10px;
    width: 130px;
    height:150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    gap:30px
}

.dropdown-content.show {
    display: flex; 
}

.prof-usrnme-container{
    border-bottom: 2px solid #e4e4e4;
}

.header-arrow-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header-profile-icon{
    width: 50px;
    height: 50px;
    object-fit: contain; 
}

.logout-btn{
    border-radius: 8px;
    font-size: 14px;
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    background-color:rgba(246, 240, 255);
    border: 1px solid #8854c066;
    padding:5px;
}

.logout-btn:hover{
    background-color:rgb(240, 230, 255);;
}

/* Search section */
.headernav-container{
    background-color:rgba(246,240,255);
    border-bottom: 1px solid #8854c066;
    
    padding:40px 40px 0px 40px
}

.header-title{
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    letter-spacing: -.015em;
    font-size: 1.27rem;
    line-height: 32px;
    font-weight: 600;
    text-align:center
}


/* navigation section */

.nav-container{
    gap:20px;
    margin-top:50px;
}

.nav-container img{
    width:20px
}

a{
    text-decoration:none;
    gap:5px;
    color:#333333;
    height: 28px;
    width: 100px;
}



/* Main Section */

main{
    padding: 40px;
    background-color: rgba(0,0,0,0.05);
    min-height:370px
}

table{
    width: 1000px;
    background-color: #fff;
    margin:30px auto;
    border-radius:8px;
    border-collapse: collapse
}

tbody tr{
    border-bottom: 1px solid #eef0f3
}

thead th{
    font-size:14px;
    text-transform: uppercase;
    font-weight:400;
    background-color:#f9fafb;
    text-align:start;
    padding:15px
}


tbody td{
    font-weight: 600;
    font-size: 16px;
    color:#787d8d;
    padding: 10px 15px
}
